.product__add-to-bag {
  padding: 4px 8px;
}

.buttons {
  max-width: 800px;
  margin: 40px auto;
  display: flex;
}

.buttons__button {
  flex: 1;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
}

/* JQuery only */

.j-add-to-bag button {
  background-color: #D8EDAF;
}